body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(/huddle-landing-page-with-single-introductory-section-master/images/bg-desktop.svg)
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}
h1, p{
    color: white;
}
.mainSection {
    margin: 2em;
    padding: 2em;
}


.logo{
    margin-bottom: 5em;
}

.container{
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
}

.attribution 
{ 
    font-size: 11px; 
    text-align: center; 
}
.attribution a 
{ 
    color: white;
}

.social {
    float: right;
    color: white;
    
}

button{
    border-radius: 20px;
    border: none;
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    width: 140px;
    height: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: larger;
}